/* Custom Styles */
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute; color: #000}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;color: #000;}
#country-list li:hover{background:#ece3d2;cursor: pointer; color: #000}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}

#country-list li .name{
    text-transform: uppercase;
    display: block;
}

#country-list li .company{
    display: block;
    
}
#country-list li .sale{
    text-transform: uppercase;
    display: block;
}